@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto&display=swap');


.wrapper{
    width: 75%;
    padding: 20px;
    margin: auto;
    font-family: 'Roboto', sans-serif;

}
h1{
    font-size: 1.8vw;
}
h2{
    display: inline-block;
    font-size: 1.3vw;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;

}
.paragraph{
    width: 35%;
    margin: 2em 1em;
    padding: 2em 2em;
    font-size: 1vw;
}
span{
    font-weight:700;
}

#heading{
    float: left;
}
button{
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 1em;
    padding: 1em;
    border-style: none;
    background-color: #ff884d;
}

.mobile-img{
    display: none;
}

img{
    height: 48vh;
}


.image-div{
    width: 50%;
    display: inline-block;
    margin-bottom: 10px;
}

.our-treat{
    margin: auto;

    width:100%;
    height: 48vh;
    background-color: #C8C8C8;
    background-image: url('./images/cat_treats_fd_minnows_013.png');
    background-size: contain;
}


#pet-approved{
    float:right;
}

.member-list{
    list-style-type: none;
}
.member-list li:before{
    content: '✓';
}
