@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto&display=swap');


.wrapper{
    width: 80%;
    margin: auto;
    font-family: 'Roboto', sans-serif;

}
h1{
    font-size: 2vw;
}
h2{
    font-size: 1.3vw;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;

}
.paragraph{
    width: 40%;
    height: auto;
    padding: 10px 30px;
    display: inline-block;
    font-size: 1vw;
}
button{
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 10px;
    border-style: none;
    background-color: #ff884d;
}

.mobile-img{
    display: none;
}


.image-div{
    width: 40%;
    display: inline-block;
}

.our-treat{
    width:100%;
    background-image: url('./images/cat_treats_fd_minnows_01 3.png');
}

.member-list{
    list-style-type: none;
}
.member-list li:before{
    content: '✓';
}
